/* #region Debug */

.debug
{
    
    [class^=col]

    {
        border: 1px dashed black;
        /* min-height: 70px; */
        /* background-color: palegreen; */
    }

    #site_header
    {
        .container
        {
          background-color: #5679e5AC; 
          min-height: 100px;
        }      
    }

    #site_main
    {
        background-color: #ffffffFF;

        .jumbo
        {
          .container
            {
                background-color: #d65f90A7;
                min-height: 400px;
            }  
        }

        .portfolio
        {
            .container
            {
                background-color: #5679e5AC;
                min-height: 600px;

                .card
                {
                    background-color: #48dbd6B6;
                    height: 250px;
                }
            }
        }
         
        .about
        {
            .container
            {
                background-color: #d65f90A7;
                min-height: 400px;

                .card
                {
                    background-color: #5375d9AE;
                    min-height: 200px;
                }
            }
        }

        .contact_me
        {
            .container
            {
                background-color: #92d65fA7;
                min-height: 600px;
            }
        }
    }
        

    #site_footer
    {
        /* background-color: #ffffffFF; */

        .last_info
        {
            .container
            {
               background-color: #5679e5AC;
               min-height: 300px;

               .card
               {
                background-color: #b59864AB;
                min-height: 200px;
               }
            }
            
        }
        .copyright
        {
            .container
            {
                background-color: #e54741A7;  
            }
        }
        
        
    }
}

/* #endregion Debug */


/* #region Common */

/* #endregion Common */


/* #region Utilities */

:root
{
    --primary: #2c3e50FF;
    --secondary: #1abc9cFF;
    --footer-secondary: #3a546dFF;
    --lightest: #ffffffFF;
    --darkest: #140f0fFF;
    --dark: #333333FF;
    --bg-block-1: #ba4b63FF;
    --bg-block-2: #1ea4b6FF;
    --bg-block-3: #140f0fFF;
    --bg-block-4: #1c83c1FF;
    --bg-block-5: #0e38b5FF;
    --bg-block-6: #ccb2a3FF;
}

/* #endregion Utilities */


/* #region SiteHeader */

#site_header
{
    background-color: var(--primary);

    .my_nav
    {
        border-color: var(--lightest);
    }
}

/* #endregion SiteHeader */


/* #region SiteMain */

#site_main
{
    .jumbo,
    .about
    {
        background-color: var(--secondary);

        img 
        {
            width: 300px;
        }
    }

    .portfolio,
    .contact_me
    {
        background-color: var(--lightest);
    }

    .my_btn
    {
        border: 1px solid var(--lightest);
        border-radius: 5px;
        padding: 0.5em 1em;
    }
}

/* #endregion SiteMain */


/* #region SiteFooter */

#site_footer
{
    .last_info
    {
        background-color: var(--footer-secondary);
        
        a 
        {
            color: var(--secondary);
        }

        i 
        {
            border: 1px solid var(--lightest);
            border-radius: 0.25em;
            padding: 0.5em;
        }

        .my_padding
        {
            padding: 1em 1.2em;
        }
    }

    .copyright
    {
        background-color: var(--primary);
    }
}

/* #endregion SiteFooter */


/* #region MediaQuery */

.jumbo
{
    h1
    {
        font-size: 40px;
        /* overflow: hidden; */
        /* white-space: nowrap; */

        @media screen and (min-width:576px)
        {
            font-size: 50px;
        }

        @media screen and (min-width:768px)
        {
            font-size: 70px;
        }

        @media screen and (min-width:992px)
        {
            font-size: 80px;
        }
    }

    h5
    {
        font-size: 20px;

        @media screen and (min-width:576px)
        {
            font-size: 30px;
        }

        @media screen and (min-width:768px)
        {
            font-size: 40px;
        }
    }

}


.portfolio,
.contact_me,
.about {
    h1 {
        font-size: 35px;

        @media screen and (min-width:576px) {
            font-size: 40px;
        }

        @media screen and (min-width:768px) {
            font-size: 45px;
        }

        @media screen and (min-width:992px) {
            font-size: 55px;
        }
    }
}

/* #endregion MediaQuery */


/* #region Bonus */

#portfolio
{
    .view_portfolio
    {
        position: relative;
    }
    
    .my_image
    {
        transition: .5s ease;
    }
    
    .middle
    {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .view_portfolio:hover .my_image
    {
        opacity: 0.6;
    }
    
    .view_portfolio:hover .middle
    {
        opacity: 1;
    }
    
    .text
    {
        color: var(--lightest);
        font-size: 3em;
    }
}

/* #endregion Bonus */


